<form novalidate [formGroup]="user" (ngSubmit) = "onSubmit(user)">
  <div class="form-group input-group col-xs-4">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user  col-sm-1 col-sm-offset-1"></i></span>
    <input type="text" class="form-control" formControlName = "userid" placeholder="UserID"/>
    <div  class="error"
      *ngIf="user.get('userid').hasError('required') && user.get('userid').touched">
      Userid is required
    </div>
  </div>
  <div class="form-group input-group col-xs-4">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock  col-sm-1 col-sm-offset-1"></i></span>
      <input type="password" class="form-control" formControlName = "password"  placeholder="Password"/>
      <div class="error" *ngIf = "user.get('password').touched">
        <span  *ngIf = "user.get('password').hasError('required')">Password is required</span>
        <span *ngIf  = "user.get('password').hasError('minlength')">Minimum of 6 characters</span> 
      </div>
  </div>
  <div class="form-group">
    <input type="submit" value="Login" [disabled] = "user.invalid">
  </div>
</form>
